modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["npx", "serve", "-s", ".", "-l", "5000"]

[workflows]
runButton = "Serve Static Site"

[[workflows.workflow]]
name = "Serve Static Site"
author = 43284166
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve -s . -l 5000"

[[ports]]
localPort = 5000
externalPort = 80
